.parent {
    display: flex;
    flex-wrap: wrap; 
}
.child {
    width: 200px;
    height: 120px;
    padding-top: 80px;
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
}    

.child:nth-child(21) {
    flex-shrink: 2;
}

.child:nth-child(5){
    order: 5;
    flex-grow: 1;
}
.child:nth-child(26) {
    flex-grow: 2;
}
.child:nth-child(25) {
    flex-grow: 3;
}
.child:nth-child(24) {
    flex-grow: 2;
}
.child:nth-child(23) {
    flex-grow: 2;
}

